@keyframes caret {
	from, to {
		border-right-color: black;
	}
  
	50% {
		border-right-color: transparent;
	}
}

.formula-js-container{
	font-family: monospace;

	.formula-js-tag{
		display: inline-block;
		border-radius: 2px;
		background-color: #EEE;
		color: #444;
		padding: 0 4px;
		margin: 2px;
		border: 1px solid #CCC;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;

		&:active,&.active{
			background-color: #DDD;
		}
	}

	.formula-js-input{
		border: 1px solid grey;
		cursor: text;
		padding: 2px;
		margin-bottom: 5px;
		background-color: white;
	
		&.active{
			outline: rgb(77, 144, 254) auto 5px;
			outline-offset: -2px;
	
			.formula-js-caret{
				animation: caret 1.06s step-end infinite;
			}
		}

		&>span{
			.formula-js-tag();
		}

		.formula-js-caret{
			display: inline-block;
			height: 16px;
			border-right: 1px solid transparent;
			margin-right: 5px;
	
			&:empty{
				&:before{
					content: '\00a0';
				}
			}
		}
	}

	.formula-js-fields>ul{
		margin-top: 5px;
	}

	.formula-js-field{
		.formula-js-tag();
		display: table;

		&>.children{
			display: inline-block;
			position: relative;
			top: -2px;
			height: 5px;
			width: 5px;
			transform: rotate(135deg);
			border-style: solid;
			border-width: 2px 2px 0 0;
			margin-left: 5px;
			transition: all .2s;
		}

		&.open{
			&>.children{
				top:1px;
				transform: rotate(-45deg);
			}

			&+.formula-js-field-children{
				.formula-js-field-open();
			}
		}
	}

	.formula-js-field-children{
		font-size: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
		transition: all .2s;

		&>ul{
			padding-left: 20px;

			&>.formula-js-field{
				border: none;
				margin: 0;

				&>.children{
					display: none;
				}
			}
		}
	}

	.formula-js-field-open{
		font-size: inherit;

		&>ul{
			&>.formula-js-field{
				border: 1px solid #CCC;
				margin: 2px;

				&>.children{
					display: inline-block;
				}
			}
		}
	}
}